
/* Sorted by order of appearance */


#card-info{
    width: 60%;
    height: 250px;
    /*margin: 30px auto auto;*/
    margin: 0 auto;
    transition: 2s;
}
main{
    background-color: #EEEEEE;
    padding-top: 50px;
    padding-bottom: 30px;
}

#sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#sidebtn{
    visibility: hidden;
    display: none;
}
#closebtn{
    visibility: hidden;
    display: none;
}

#grid{
    padding: 150px 15% 150px 15%;
}

.uk-card-hover{
    animation-delay: 4s;
    transition: 2s;
}


@media (max-width: 480px){
    
    #card-info{
        width: 90%;
        /*margin: 30px auto auto;*/
        margin: 0 auto;
    }
    main{
        padding-top: 40px;
    }
    nav{
        visibility: hidden;
        display: none;
    }
    #sidebtn{
        visibility: visible;
        display: block;
        left: 0;
        top: 0;
        z-index: 1;
        position: absolute;
        position: fixed;
        margin: 5px;
    }
    #top{
        left: 0;
        top: 0;
        z-index: 0;
    }
    #sidenav{
        background-color: aliceblue;
    }
    #closebtn{
        visibility: hidden;
        display: block;
        left: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        position: fixed;
        margin: 5px;
    }
    #smooth-fade{
        transition: 3s;
    }
    #grid{
        padding-top: 30px;
    }
}

/* Functions */
@keyframes slide {
    from {left: 0px}
    to {left: 200px}
}